.div
{
    width:100%;
    text-align:left;
}



.div h3{

    display: inline;
}

#button
{
    float: right;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

img{
    width: 100%;
}

.play
{
    font-size:20px;
}

.credit{
    background-color: grey;
    line-height: 2;
    margin:0px;
}

.modal-dialog
{
    width:90%;
}

.img
{
    display: inline-block;
    width: 45%;
}

video

{
background: url("game_console.png");
background-size: cover;
background-position: center;
padding: 25px;
}